* { 
    font-family: "Source Sans Pro", Arial, sans-serif;

    --fg-black: #000000;
    --fg-dgray: #4d4d4d;
    --fg-gray: #808080;
    --fg-white: #ffffff;

    --bg-0: #ffffff;
    --bg-1: #e0e0e0;
    --bg-2: #d0d0d0;
    --bg-3: #c0c0c0;

    --border-colour: #dfdfdf;
    --border-props: 1px solid;
    --border: var(--border-props) var(--border-colour);
    --shadow-colour: #00000040;
    --subject-shadow: 0 0 8px 2px var(--shadow-colour);
    --tag-shadow: 0 0 8px var(--shadow-colour);
    --transition-hover: 200ms;

    --btn-fg: var(--fg-black);
    --btn-fg-disabled: var(--fg-gray);
    --btn-status-fg: var(--fg-gray);
    --btn-bg: #ffffff;
    --btn-bg-hover: #f4f4f4;
    --btn-bg-disabled: #f4f4f4;
    --btn-border-colour: var(--border-colour);

    --inp-placeholder: var(--fg-dgray);
    --inp-bg: #ffffff;
    --inp-bg-hover: #f4f4f4;
    --inp-bg-focus: #f8f8f8;
    --inp-bg-disabled: #f4f4f4;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

b {
    font-weight: 600;
}

textarea {
    resize: none;
}

.btn {
    margin: 4px;
    padding: 8px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--btn-fg);
    background: var(--btn-bg);
    border: var(--border-props) var(--btn-border-colour);
    border-radius: 8px;
    transition: var(--transition-hover);
    cursor: default;
}

.btn:not(:disabled):is(:hover, :focus) {
    background: var(--btn-bg-hover);
    outline: 0;
}

.btn:disabled {
    color: var(--btn-fg-disabled);
    background: var(--btn-bg-disabled);
}

.btn-icon, .btn-label {
    margin: 2px;
}

.btn-status {
    font-size: 0.8em;
    color: var(--btn-status-fg);
}

.btn-ok {
    --btn-fg: #3498db;
    --btn-bg: #2980b930;
    --btn-border-colour: #2980b930;
    --btn-bg-hover: #2980b950;
}

.btn-success {
    --btn-fg: #2bcbba;
    --btn-bg: #2bcbba30;
    --btn-border-colour: #2bcbba50;
    --btn-bg-hover: #2bcbba50;
}

.btn-danger {
    --btn-fg: #fc5c65;
    --btn-bg: #fc5c6530;
    --btn-border-colour: #fc5c6550;
    --btn-bg-hover: #fc5c6550;
}

.inp {
    margin: 4px;
    padding: 8px;
    font-size: 1em;
    background: transparent;
    border: var(--border);
    border-radius: 8px;
    transition: var(--transition-hover);
}

.inp:not(:disabled):focus {
    background: var(--inp-bg-focus);
    outline: 0;
}

.inp:not(:disabled):hover {
    background: var(--inp-bg-hover);
}

.inp:disabled {
    color: var(--fg-gray);
    background: var(--inp-bg-disabled);
}

.inp::placeholder {
    color: var(--inp-placeholder);
}

body {
    margin: 8px;
    display: grid;
    background: var(--bg-0);
    color: var(--fg-black);
}

.root:not(.loaded) {
    display: none;
}

.modal {
    width: 384px;
    position: fixed;
    left: 50%;
    top: 64px;
    transform: translateX(-50%);
    background: var(--bg-0);
    border: var(--border);
    border-radius: 8px;
    z-index: 800;
}

.modal-main {
    padding: 8px;
    display: grid;
}

.modal-top {
    display: grid;
    grid-template-columns: 1fr auto;
}

.modal-label {
    margin: 8px;
    display: grid;
    font-size: 1.1rem;
    font-weight: 600;
}

.modal-small {
    font-size: 0.9rem;
    font-weight: 400;
}

.modal-close {
    margin: 8px;
    width: 28px;
    height: 28px;
    font-size: 1em;
    color: var(--fg-gray);
    background: transparent;
    border: 0;
    border-radius: 8px;
    transition: var(--transition-hover);
}

.modal-close:is(:hover, :focus) {
    background: #efefef;
    outline: 0;
}

.modal-content {
    display: grid;
}

.modal-field {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
}

.modal-text {
    margin: 8px;
}

.modal-element {
    margin: 8px;
    flex-grow: 1;
    flex-basis: 0;
}

.modal-btns {
    padding: 8px;
    display: flex;
    border-top: var(--border);
}

.modal-err {
    padding: 4px;
    display: flex;
    justify-content: center;
    background: #fc5c6530;
    border-top: var(--border-props) #fc5c6550;
}

.modal-err-text {
    margin: 12px;
    color: #fc5c65;
}

.warning {
    margin: 12px 12px 0;
    display: block;
    color: #e74c3c;
}

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
}

main {
    padding: 8px;
    width: 680px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top-label {
    margin: 4px;
    display: block;
}

.btns {
    display: flex;
}

.schedule {
    width: min-content;
    display: flex;
}

.schedule-col {
    margin: 4px;
    padding: 4px;
    width: 128px;
    box-sizing: border-box;
    background: var(--bg-1);
    border-radius: 8px;
    transition: var(--transition-hover);
    user-select: none;
}

.editor .schedule-col {
    cursor: text;
}

.editor .schedule-col:hover {
    background: var(--bg-2);
}

.subject-container {
    position: relative;
    pointer-events: none;
}

.subject-container:is(> .schedule-tag) {
    width: 100%;
}

.subject {
    width: 100%;
    height: var(--height);
    display: grid;
    grid-template-rows: 1fr;
    position: absolute;
    background: var(--background);
    border-radius: 0 4px 0;
    box-sizing: border-box;
    pointer-events: all;
    z-index: 400;
    cursor: default;
}

.subject-time {
    padding: 2px 4px 0;
    height: 10px;
    position: absolute;
    bottom: 100%;
    font-size: 0.85em;
    background: var(--background);
    border-radius: 4px 4px 0 0;
}

.subject-time.subject-time-end {
    top: 100%;
    bottom: unset;
    right: 0;
    transform: rotate(180deg);
}

.subject-time > div {
    transform: rotate(-180deg);
}

.subject.template-filtered {
    opacity: 0.25;
}

.subject.template-filter-highlight {
    box-shadow: var(--subject-shadow);
}

.schedule-col:not(.tag-mode) .subject:hover {
    width: 100%;
    height: min-content !important;
    min-height: var(--height);
    left: 0;
    box-shadow: var(--subject-shadow);
    z-index: 600;
}

.subject-content {
    padding: 6px;
    max-height: 1fr;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.subject-placeholder {
    color: var(--fg-white);
    background: var(--fg-gray);
    opacity: 0.5;
    z-index: 700;
    pointer-events: none;
}

.schedule-col:not(:hover) .subject-placeholder {
    display: none;
}

.subject-name {
    font-weight: 600;
}

.subject-times, .subject-teachers {
    opacity: 0.75;
}

.schedule-now {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #e74c3c;
    box-shadow: 0 0 8px #000000;
    z-index: 600;
}

.schedule-tag {
    padding: 4px 0;
    width: 100%;
    position: absolute;
    top: calc(calc(var(--top) * 1px) - 4px);
    font-size: 0;
    z-index: 600;
    cursor: default;
    pointer-events: all;
    text-shadow: 0 0 8px #000000;
}

.schedule-tag::before {
    content: "";
    height: 1px;
    display: block;
    background: #000000;
    box-shadow: 0 0 8px #000000;
}

.schedule-tag:hover {
    font-size: inherit;
    color: var(--fg-white);
}

.schedule-tag-placeholder {
    font-size: initial;
    color: var(--fg-white);
    pointer-events: none;
}

.schedule-col:not(:hover) .schedule-tag-placeholder {
    display: none;
}

.exeptions-container {
    display: grid;
}

.exeption-text {
    margin: 4px;
}

.exeption-date {
    color: var(--fg-gray);
}

aside {
    height: max-content;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.config {
    width: 256px;
    height: max-content;
    margin-right: 12px;
    display: grid;
}

.config-top {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: 0;
    border: var(--btn-border);
    border-radius: 8px;
}

.config-top:not(:disabled):is(:hover, :focus) {
    border-color: var(--btn-border);
}

.config-top:disabled {
    color: inherit;
}

.config-top-title, .config-top-icon {
    margin: 4px;
}

.config-top-icon {
    transition: var(--transition-hover);
}

.config-show .config-top-icon {
    transform: rotate(180deg);
}

.config-show .config-content {
    height: 100%;
}

.config-content {
    height: 0;
    display: grid;
    transition: var(--transition-hover);
    overflow: hidden;
}

.teachers-field {
    display: flex;
    align-items: center;
}

.teachers-field-inp {
    flex-grow: 1;
}

.teachers-field-btn {
    background: none;
    border: 0;
}

.templates-field {
    margin: 4px;
    display: grid;
    border: var(--border);
    border-radius: 8px;
    transition: var(--transition-hover);
    overflow: hidden;
}

.templates-field:hover {
    background: #f4f4f4;
}

.templates-field-content {
    padding: 8px;
    padding-bottom: 0;
    display: grid;
}

.templates-field-name {
    font-weight: 600;
}

.templates-field-btns {
    padding: 4px;
    display: flex;
}

.templates-field-editbtn {
    background: #ffffff;
}

.hint {
    position: relative;
}

.hint-popup {
    width: 192px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    z-index: 900;
    pointer-events: none;
    opacity: 0;
}

.hint-shown .hint-popup {
    opacity: 1;
    transition: 750ms;
}

.hint-popup::before {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    right: calc(100% - 6px);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: #ffffff;
    border: solid #dfdfdf;
    border-width: 0 0 1px 1px;
    border-radius: 0 24px 0 0;
}

.hint-content {
    padding: 8px;
    padding-bottom: 0;
    display: grid;
}

.hint-title {
    font-weight: 600;
}

.hint-desc {
    font-size: 0.9rem;
}

.hint-btns {
    padding: 4px;
    display: grid;
}

.hint-btns > button {
    pointer-events: none;
}

.hint-shown .hint-btns > button {
    pointer-events: all;
}

@media print {
    .modal {
        display: none !important;
    }
    
    .exeption-date {
        color: var(--fg-gray);
    }
    
    .title, .btns, .warning, .schedule-now, .schedule-tag, aside {
        display: none;
    }
}
