* { 
    font-family: "Source Sans Pro", Arial, sans-serif;

    --fg-0: #000000;
    --fg-1: #606060;
    --fg-2: #808080;
    --fg-3: #a0a0a0;
    --bg-0: #ffffff;
    --bg-1: #e0e0e0;
    --bg-2: #d0d0d0;
    --bg-3: #c0c0c0;
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.btn {
    margin: 4px;
    padding: 8px;
    font-size: 1em;
    text-decoration: none;
    color: inherit;
    background: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    transition: 200ms;
    cursor: default;
}

.btn:not(:disabled):is(:hover, :focus) {
    background: #f4f4f4;
    outline: 0;
}

.btn:disabled {
    background: #f4f4f4;
}

.btn-icon, .btn-label {
    margin: 2px;
}

.btn-status {
    font-size: 0.8em;
    color: #808080;
}

.btn-ok {
    color: #3498db;
    background: #2980b930;
    border-color: #2980b930;
}

.btn-ok:not(:disabled):is(:hover, :focus) {
    background: #2980b950;
}

.btn-success {
    color: #2bcbba;
    background: #2bcbba30;
    border-color: #2bcbba50;
}

.btn-success:not(:disabled):is(:hover, :focus) {
    background: #2bcbba50;
}

.btn-danger {
    color: #fc5c65;
    background: #fc5c6530;
    border-color: #fc5c6550;
}

.btn-danger:not(:disabled):is(:hover, :focus) {
    background: #fc5c6550;
}

.inp {
    margin: 4px;
    padding: 8px;
    font-size: 1em;
    background: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    transition: 200ms;
}

.inp:focus {
    background: #f8f8f8;
    outline: 0;
}

.inp:hover {
    background: #f4f4f4;
}

body {
    margin: 8px;
    display: grid;
    background: var(--bg-0);
    color: var(--fg-0);
}

.root:not(.loaded) {
    display: none;
}

.modal-input {
    padding: 8px;
    width: 100%;
    font-size: 1em;
    background: #00000010;
    border: 1px solid #00000020;
    border-radius: 8px;
    transition: 200ms;
}

.modal-input:focus, .modal-input:focus {
    background: #00000020;
    border-color: #00000030;
    outline: none;
}

.modal {
    width: 384px;
    position: fixed;
    left: 50%;
    top: 64px;
    transform: translateX(-50%);
    background: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    z-index: 800;
}

.modal-main {
    padding: 8px;
    display: grid;
}

.modal-top {
    display: grid;
    grid-template-columns: 1fr auto;
}

.modal-label {
    margin: 8px;
    display: grid;
    font-size: 1.1rem;
    font-weight: 600;
}

.modal-small {
    font-size: 0.9rem;
    font-weight: 400;
}

.modal-close {
    margin: 8px;
    width: 28px;
    height: 28px;
    font-size: 1em;
    color: #808080;
    background: transparent;
    border: 0;
    border-radius: 8px;
    transition: 200ms;
}

.modal-close:is(:hover, :focus) {
    background: #efefef;
    outline: 0;
}

.modal-content {
    display: grid;
}

.modal-field {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
}

.modal-text {
    margin: 8px;
}

.modal-element {
    margin: 8px;
    flex-grow: 1;
    flex-basis: 0;
}

.modal-btns {
    padding: 8px;
    display: flex;
    border-top: 1px solid #dfdfdf;
}

.modal-err {
    padding: 4px;
    display: flex;
    justify-content: center;
    background: #fc5c6530;
    border-top: 1px solid #fc5c6550;
}

.modal-err-text {
    margin: 12px;
    color: #fc5c65;
}

.title {
    margin: 12px 12px 0;
}

.warning {
    margin: 0 12px;
    color: #e74c3c;
}

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
}

main {
    padding: 8px;
    width: 680px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top-label {
    margin: 4px;
    display: block;
}

.btns {
    display: flex;
}

.schedule {
    width: min-content;
    display: flex;
}

.schedule-col {
    margin: 4px;
    width: 128px;
    position: relative;
    background: var(--bg-1);
    border-radius: 8px;
    transition: 125ms;
}

.editor .schedule-col {
    cursor: text;
}

.editor .schedule-col:hover {
    background: var(--bg-2);
}

.subject-container {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    top: 5px;
    left: 4px;
    pointer-events: none;
}

.subject-container:is(> .schedule-tag) {
    width: 100%;
}

.schedule-row {
    position: absolute;
}

.subject {
    padding: 6px;
    width: 100%;
    height: var(--height);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: all;
    z-index: 400;
    cursor: default;
    user-select: none;
}

.subject.template-filtered {
    opacity: 0.25;
}

.subject.template-filter-highlight {
    box-shadow: 0 0 8px 2px #00000040;
}

.schedule-col:not(.tag-mode) .subject:hover {
    width: 100%;
    height: min-content !important;
    min-height: var(--height);
    left: 0;
    box-shadow: 0 0 8px 2px #00000040;
    z-index: 600;
}

.subject-placeholder {
    --divide: 1;
    --position: 1;
    background: #808080;
    opacity: 0.5;
    z-index: 700;
    pointer-events: none;
}

.schedule-col:not(:hover) .subject-placeholder {
    display: none;
}

.subject-name {
    font-weight: 600;
}

.subject-times, .subject-teachers {
    color: #ffffffc0;
}

.schedule-now {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #e74c3c;
    box-shadow: 0 0 8px #000000;
    z-index: 600;
}

.schedule-tag {
    padding: 4px 0;
    width: 100%;
    font-size: 0;
    position: absolute;
    z-index: 600;
    cursor: default;
    pointer-events: all;
    text-shadow: 0 0 8px #000000;
    user-select: none;
}

.schedule-tag::before {
    content: "";
    height: 1px;
    display: block;
    background: #000000;
    box-shadow: 0 0 8px #000000;
}

.schedule-tag:hover {
    font-size: inherit;
    color: #ffffff;
}

.schedule-tag-placeholder {
    font-size: initial;
    color: #ffffff;
    pointer-events: none;
}

.schedule-col:not(:hover) .schedule-tag-placeholder {
    display: none;
}

.exeptions-container {
    display: grid;
}

.exeption-text {
    margin: 4px;
}

.exeption-date {
    color: var(--fg-2);
}

aside {
    height: max-content;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.config {
    width: 256px;
    height: max-content;
    margin-right: 12px;
    display: grid;
}

.config-top {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: 0;
    border: 1px solid transparent;
    border-radius: 8px;
}

.config-top:not(:disabled):is(:hover, :focus) {
    border-color: #dfdfdf;
}

.config-top:disabled {
    color: inherit;
}

.config-top-title, .config-top-icon {
    margin: 4px;
}

.config-top-icon {
    transition: 200ms;
}

.config-show .config-top-icon {
    transform: rotate(180deg);
}

.config-show .config-content {
    height: 100%;
}

.config-content {
    height: 0;
    display: grid;
    transition: 200ms;
    overflow: hidden;
}

.teachers-field {
    display: flex;
    align-items: center;
}

.teachers-field-btn {
    background: none;
    border: 0;
}

.templates-field {
    margin: 4px;
    padding: 4px;
    display: grid;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    transition: 200ms;
    overflow: hidden;
}

.templates-field:hover {
    background: #f4f4f4;
}

.templates-field-text {
    margin: 4px;
    display: grid;
}

.templates-field-name {
    font-weight: 600;
}

.templates-field-btns {
    display: flex;
}

.templates-field-editbtn {
    background: #ffffff;
}

.hint {
    position: relative;
}

.hint-popup {
    width: 192px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    z-index: 900;
    pointer-events: none;
    opacity: 0;
}

.hint-shown .hint-popup {
    opacity: 1;
    transition: 750ms;
}

.hint-popup::before {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    right: calc(100% - 6px);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: #ffffff;
    border: solid #dfdfdf;
    border-width: 0 0 1px 1px;
    border-radius: 0 24px 0 0;
}

.hint-content {
    padding: 8px;
    padding-bottom: 0;
    display: grid;
}

.hint-title {
    font-weight: 600;
}

.hint-desc {
    font-size: 0.9rem;
}

.hint-btns {
    padding: 4px;
    display: grid;
}

.hint-btns > button {
    pointer-events: none;
}

.hint-shown .hint-btns > button {
    pointer-events: all;
}

@media print {
    .modal {
        display: none !important;
    }
    
    .exeption-date {
        color: var(--fg-2);
    }
    
    .title, .btns, .warning, .schedule-now, .schedule-tag, aside {
        display: none;
    }
}
